
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 83.8rem;
}.frame-1-RvQ {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 329.6rem;

  .rectangle-1-yaY {
    left: 0.5rem;
    top: 10.6rem;
    background-color: #e9d2b0;
    width: 83.3rem;
    height: 249.6rem;
    position: absolute;
  }
  .contacco-CiC {
    top: 238.7rem;
    width: 83.3rem;
    height: 21.4rem;
    position: absolute;
    left: 0.5rem;

    .rectangle-6-8Nt {
      width: 83.3rem;
      height: 19.4rem;
      position: absolute;
      left: 0;
      top: 2rem;
      background-color: #df8977;
    }
    .rectangle-7-cor {
      top: 0;
      filter: blur(0.8rem);
      background-color: rgba(200, 93, 70, 0.2099999934);
      width: 83.3rem;
      height: 19.4rem;
      position: absolute;
      left: 0;
    }
    .communicate-1-tmN {
      top: 4.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 14.2rem;
      height: 14.2rem;
      position: absolute;
      left: 63rem;
    }
    .contacts-email-arahul12a2gmailcom-linkedin-rahula-phone-no-7904820969-kYg {
      height: 12.7rem;
      position: absolute;
      left: 2.4rem;
      font-size: 3.2rem;
      font-family: Inter, 'Source Sans Pro';
      width: 34rem;
      top: 4.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;

      .contacts-email-arahul12a2gmailcom-linkedin-rahula-phone-no-7904820969-kYg-sub-0 {
      }
      .contacts-email-arahul12a2gmailcom-linkedin-rahula-phone-no-7904820969-kYg-sub-1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .projectco-y5z {
    left: 0.5rem;
    top: 150.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 82.5rem;
    height: 83.6rem;
    position: absolute;

    .rectangle-9-ARN {
      width: 82.2rem;
      height: 36.7rem;
      filter: blur(0.55rem);
      background-color: rgba(238, 188, 130, 0.4600000083);
      border-radius: 3rem 13rem 3rem 13rem;
      flex-shrink: 0;
      margin: 0rem 0rem 10.2rem 0.3rem;
    }
    .auto-group-dnls-PJ8 {
      margin-right: 0.3rem;
      width: 82.2rem;
      height: 36.7rem;
      position: relative;
      filter: blur(0.55rem);
      background-color: rgba(238, 188, 130, 0.4600000083);
      border-radius: 3rem 13rem 3rem 13rem;
      flex-shrink: 0;

      .rectangle-4-HPW {
        height: 33.2rem;
        position: absolute;
        left: 1.8rem;
        top: 1.9rem;
        background-color: #e6a558;
        border-radius: 3rem 13rem 3rem 13rem;
        width: 79.2rem;
      }
      .project-3-1-pXr {
        object-fit: cover;
        vertical-align: top;
        width: 14.4rem;
        height: 13.2rem;
        position: absolute;
        left: 61.5rem;
        top: 4.8rem;
      }
      .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz {
        line-height: 1.2125;
        color: #000000;
        width: 75rem;
        height: 27.2rem;
        position: absolute;
        left: 5.9rem;
        font-weight: 400;
        top: 5.2rem;
        font-size: 3.2rem;
        font-family: Inter, 'Source Sans Pro';

        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-0 {
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-2 {
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-3 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-4 {
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-5 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .projectco-k7z {
    position: absolute;
    left: 0.8rem;
    top: 105.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 82.5rem;
    height: 83.6rem;

    .auto-group-qfjb-4eU {
      margin: 0rem 0rem 10.2rem 0.3rem;
      padding: 2rem 0.5rem 3.662rem 0.5rem;
      width: 82.2rem;
      filter: blur(0.55rem);
      background-color: rgba(238, 188, 130, 0.4600000083);
      border-radius: 3rem 13rem 3rem 13rem;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 36.7rem;

      .aboutco-wCU {
        height: 100%;
        position: relative;
        width: 79.2092rem;

        .rectangle-3-srp {
          width: 79.2092rem;
          height: 30rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #e6a558;
          border-radius: 3rem 12rem 3rem 12rem;
        }
        .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U {
          position: absolute;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 28.2rem;
          left: 2.8464rem;
          top: 2.8378rem;
          color: #000000;
          width: 72.2rem;

          .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U-sub-0 {
          }
          .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U-sub-1 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U-sub-2 {
          }
          .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U-sub-3 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .information-1-1-HxU {
          width: 12.8rem;
          height: 12.8rem;
          position: absolute;
          left: 63.4rem;
          top: 2.8rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-x63u-kbA {
      margin-right: 0.3rem;
      width: 82.2rem;
      height: 36.7rem;
      position: relative;
      filter: blur(0.55rem);
      background-color: rgba(238, 188, 130, 0.4600000083);
      border-radius: 3rem 13rem 3rem 13rem;
      flex-shrink: 0;

      .rectangle-4-5tL {
        border-radius: 3rem 13rem 3rem 13rem;
        width: 79.2rem;
        height: 33.2rem;
        position: absolute;
        left: 1.8rem;
        top: 1.9rem;
        background-color: #e6a558;
      }
      .project-3-1-Ci4 {
        object-fit: cover;
        vertical-align: top;
        width: 14.4rem;
        height: 13.2rem;
        position: absolute;
        left: 61.5rem;
        top: 4.8rem;
      }
      .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk {
        height: 27.2rem;
        position: absolute;
        font-size: 3.2rem;
        line-height: 1.2125;
        color: #000000;
        width: 75rem;
        left: 5.9rem;
        top: 5.2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';

        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-0 {
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-2 {
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-3 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-4 {
        }
        .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-5 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .skillco-vpQ {
        background-color: #e6a558;
        border-radius: 3rem 13rem 3rem 13rem;
        width: 79.1975rem;
        height: 32.474rem;
        position: absolute;
        left: 1.5rem;
        top: 0.8rem;

        .skillcontent-U5E {
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 63.9rem;
          height: 29.1rem;
          position: absolute;
          left: 4.9989rem;
          top: 0.8871rem;
          font-size: 3.2rem;
          color: #000000;

          .skillcontent-U5E-sub-0 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .skillcontent-U5E-sub-1 {
          }
          .skillcontent-U5E-sub-2 {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
          }
          .skillcontent-U5E-sub-3 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .skillcontent-U5E-sub-4 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
          }
          .skillcontent-U5E-sub-5 {
          }
          .skillcontent-U5E-sub-6 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .skillcontent-U5E-sub-7 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .skillcontent-U5E-sub-8 {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
          }
          .skillcontent-U5E-sub-9 {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
          }
          .skillcontent-U5E-sub-10 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .skillcontent-U5E-sub-11 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .skillcontent-U5E-sub-12 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .skillcontent-U5E-sub-13 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .skillcontent-U5E-sub-14 {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
          }
        }
        .competence-2-oj6 {
          height: 16.2rem;
          position: absolute;
          left: 59.3rem;
          top: 3.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 16.2rem;
        }
      }
    }
  }
  .into-peC {
    width: 93.9rem;
    height: 101.3981rem;
    position: absolute;
    left: 0;
    top: 2.8rem;

    .image-2-jmA {
      width: 85.6rem;
      height: 62.8rem;
      position: absolute;
      left: 0.5rem;
      top: 14.1rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0 3rem 14.4rem 0;
    }
    .image-1-rqn {
      height: 62.8rem;
      position: absolute;
      left: 0.5rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0 3rem 14.4rem 0;
      width: 85.6rem;
    }
    .wind-power-1-bHa {
      width: 51.2rem;
      height: 51.2rem;
      position: absolute;
      left: 33.9rem;
      top: 6.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-7-uZA {
      background-color: rgba(213, 142, 142, 0.2899999917);
      border-radius: 0 16rem 16rem 0;
      width: 91.8373rem;
      height: 50.5981rem;
      position: absolute;
      left: 0;
      top: 50.8rem;
    }
    .rectangle-6-dVA {
      height: 52.3844rem;
      position: absolute;
      left: 0;
      top: 48.4078rem;
      background-color: #f58585;
      border-radius: 0 16rem 16rem 0;
      width: 92.2345rem;
    }
    .rectangle-5-xXS {
      top: 45.5rem;
      background-color: #9485f5;
      border-radius: 0 16rem 16rem 0;
      width: 91.6rem;
      height: 53.1878rem;
      position: absolute;
      left: 0;
    }
    .hi-im-rahula-studentpcb-designerelectrical-engineer-tfz {
      width: 62.9rem;
      left: 4.6rem;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 15.6rem;
      position: absolute;
      top: 65.7249rem;

      .hi-im-rahula-studentpcb-designerelectrical-engineer-tfz-sub-0 {
      }
      .hi-im-rahula-studentpcb-designerelectrical-engineer-tfz-sub-1 {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
      }
    }
    .ellipse-1-qzY {
      object-fit: contain;
      vertical-align: top;
      width: 25.2rem;
      height: 23.5rem;
      position: absolute;
      left: 49.9rem;
      top: 52.1249rem;
    }
    .profile-1-yax {
      vertical-align: top;
      width: 23.6rem;
      height: 23.6rem;
      position: absolute;
      left: 49.9rem;
      top: 52rem;
      object-fit: cover;
    }
  }
  .navbar-Wat {
    width: 83.3rem;
    height: 9.1rem;
    position: absolute;
    left: 0.5rem;
    top: 0;

    .rectangle-3-FYU {
      left: 0;
      top: 2.2rem;
      filter: blur(0.75rem);
      background-color: rgba(125, 244, 230, 0.6999999881);
      border-radius: 1.5rem 1.5rem 0 0;
      width: 83.3rem;
      height: 6.9rem;
      position: absolute;
    }
    .rectangle-2-N7J {
      background-color: #e6a558;
      border-radius: 1.5rem 1.5rem 0 0;
      width: 83.3rem;
      height: 7.9rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .projects-JFr {
      width: 14.784rem;
      height: 2.7931rem;
      position: absolute;
      font-size: 3.2rem;
      line-height: 1.2125;
      cursor: pointer;
      left: 51.489rem;
      top: 2.1624rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contacts-nB2 {
      cursor: pointer;
      left: 67.4965rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.784rem;
      height: 2.7931rem;
      font-weight: 400;
      color: #ffffff;
      position: absolute;
      top: 2.1624rem;
    }
    .skills-HtU {
      position: absolute;
      top: 2.1624rem;
      font-weight: 400;
      color: #ffffff;
      width: 11.0115rem;
      cursor: pointer;
      font-size: 3.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.7931rem;
      left: 35.9913rem;
    }
    .about-beG {
      height: 2.7931rem;
      top: 2.1624rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.0115rem;
      cursor: pointer;
      position: absolute;
      left: 20.4936rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .home-65E {
      font-size: 3.2rem;
      font-weight: 400;
      color: #ffffff;
      width: 11.0115rem;
      cursor: pointer;
      position: absolute;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.7931rem;
      left: 4.996rem;
      top: 2.1624rem;
    }
  }
}
