
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 83.8rem;
}.frame-1-RvQ {
  width: 100%;
  height: 329.6rem;
  position: relative;
  overflow: hidden;
}
.frame-1-RvQ .rectangle-1-yaY {
  width: 83.3rem;
  height: 249.6rem;
  position: absolute;
  left: 0.5rem;
  top: 10.6rem;
  background-color: #e9d2b0;
}
.frame-1-RvQ .contacco-CiC {
  width: 83.3rem;
  height: 21.4rem;
  position: absolute;
  left: 0.5rem;
  top: 238.7rem;
}
.frame-1-RvQ .contacco-CiC .rectangle-6-8Nt {
  width: 83.3rem;
  height: 19.4rem;
  position: absolute;
  left: 0;
  top: 2rem;
  background-color: #df8977;
}
.frame-1-RvQ .contacco-CiC .rectangle-7-cor {
  width: 83.3rem;
  height: 19.4rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(0.8rem);
  background-color: rgba(200, 93, 70, 0.2099999934);
}
.frame-1-RvQ .contacco-CiC .communicate-1-tmN {
  width: 14.2rem;
  height: 14.2rem;
  position: absolute;
  left: 63rem;
  top: 4.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-RvQ .contacco-CiC .contacts-email-arahul12a2gmailcom-linkedin-rahula-phone-no-7904820969-kYg {
  width: 34rem;
  height: 12.7rem;
  position: absolute;
  left: 2.4rem;
  top: 4.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .contacco-CiC .contacts-email-arahul12a2gmailcom-linkedin-rahula-phone-no-7904820969-kYg .contacts-email-arahul12a2gmailcom-linkedin-rahula-phone-no-7904820969-kYg-sub-0 {
}
.frame-1-RvQ .contacco-CiC .contacts-email-arahul12a2gmailcom-linkedin-rahula-phone-no-7904820969-kYg .contacts-email-arahul12a2gmailcom-linkedin-rahula-phone-no-7904820969-kYg-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-y5z {
  width: 82.5rem;
  height: 83.6rem;
  position: absolute;
  left: 0.5rem;
  top: 150.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-1-RvQ .projectco-y5z .rectangle-9-ARN {
  margin: 0rem 0rem 10.2rem 0.3rem;
  width: 82.2rem;
  height: 36.7rem;
  filter: blur(0.55rem);
  background-color: rgba(238, 188, 130, 0.4600000083);
  border-radius: 3rem 13rem 3rem 13rem;
  flex-shrink: 0;
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 {
  margin-right: 0.3rem;
  width: 82.2rem;
  height: 36.7rem;
  position: relative;
  filter: blur(0.55rem);
  background-color: rgba(238, 188, 130, 0.4600000083);
  border-radius: 3rem 13rem 3rem 13rem;
  flex-shrink: 0;
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .rectangle-4-HPW {
  width: 79.2rem;
  height: 33.2rem;
  position: absolute;
  left: 1.8rem;
  top: 1.9rem;
  background-color: #e6a558;
  border-radius: 3rem 13rem 3rem 13rem;
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .project-3-1-pXr {
  width: 14.4rem;
  height: 13.2rem;
  position: absolute;
  left: 61.5rem;
  top: 4.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz {
  width: 75rem;
  height: 27.2rem;
  position: absolute;
  left: 5.9rem;
  top: 5.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-0 {
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-2 {
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-4 {
}
.frame-1-RvQ .projectco-y5z .auto-group-dnls-PJ8 .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-Vdz-sub-5 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z {
  width: 82.5rem;
  height: 83.6rem;
  position: absolute;
  left: 0.8rem;
  top: 105.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU {
  margin: 0rem 0rem 10.2rem 0.3rem;
  box-sizing: border-box;
  padding: 2rem 0.5rem 3.662rem 0.5rem;
  width: 82.2rem;
  height: 36.7rem;
  filter: blur(0.55rem);
  background-color: rgba(238, 188, 130, 0.4600000083);
  border-radius: 3rem 13rem 3rem 13rem;
  flex-shrink: 0;
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU .aboutco-wCU {
  width: 79.2092rem;
  height: 100%;
  position: relative;
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU .aboutco-wCU .rectangle-3-srp {
  width: 79.2092rem;
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e6a558;
  border-radius: 3rem 12rem 3rem 12rem;
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU .aboutco-wCU .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U {
  width: 72.2rem;
  height: 28.2rem;
  position: absolute;
  left: 2.8464rem;
  top: 2.8378rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU .aboutco-wCU .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U-sub-0 {
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU .aboutco-wCU .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U-sub-1 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU .aboutco-wCU .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U-sub-2 {
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU .aboutco-wCU .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U .about-an-innovative-electrical-engineer-student-with-knowledge-in-the-field-of-embedded-programming-and-electrical-system-designing-looking-forward-to-improve-knowledge-currently-studying-in-crescent-institute-of-science-and-technology-P4U-sub-3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-qfjb-4eU .aboutco-wCU .information-1-1-HxU {
  width: 12.8rem;
  height: 12.8rem;
  position: absolute;
  left: 63.4rem;
  top: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA {
  margin-right: 0.3rem;
  width: 82.2rem;
  height: 36.7rem;
  position: relative;
  filter: blur(0.55rem);
  background-color: rgba(238, 188, 130, 0.4600000083);
  border-radius: 3rem 13rem 3rem 13rem;
  flex-shrink: 0;
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .rectangle-4-5tL {
  width: 79.2rem;
  height: 33.2rem;
  position: absolute;
  left: 1.8rem;
  top: 1.9rem;
  background-color: #e6a558;
  border-radius: 3rem 13rem 3rem 13rem;
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .project-3-1-Ci4 {
  width: 14.4rem;
  height: 13.2rem;
  position: absolute;
  left: 61.5rem;
  top: 4.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk {
  width: 75rem;
  height: 27.2rem;
  position: absolute;
  left: 5.9rem;
  top: 5.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-0 {
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-2 {
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-4 {
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk .projects-design-an-automated-conveyor-driven-transportation-system-using-plc-in-industrial-motor-control-multi-purpose-inventory-counter-with-microcontroller-also-with-safety-protection-iot-power-control-monetering-metering-system-with-cloud-data-base-and-application-wQk-sub-5 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ {
  width: 79.1975rem;
  height: 32.474rem;
  position: absolute;
  left: 1.5rem;
  top: 0.8rem;
  background-color: #e6a558;
  border-radius: 3rem 13rem 3rem 13rem;
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E {
  width: 63.9rem;
  height: 29.1rem;
  position: absolute;
  left: 4.9989rem;
  top: 0.8871rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-1 {
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-4 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-5 {
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-6 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-7 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-8 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-9 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-10 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-11 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-12 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-13 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .skillcontent-U5E .skillcontent-U5E-sub-14 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .projectco-k7z .auto-group-x63u-kbA .skillco-vpQ .competence-2-oj6 {
  width: 16.2rem;
  height: 16.2rem;
  position: absolute;
  left: 59.3rem;
  top: 3.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-RvQ .into-peC {
  width: 93.9rem;
  height: 101.3981rem;
  position: absolute;
  left: 0;
  top: 2.8rem;
}
.frame-1-RvQ .into-peC .image-2-jmA {
  width: 85.6rem;
  height: 62.8rem;
  position: absolute;
  left: 0.5rem;
  top: 14.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0 3rem 14.4rem 0;
}
.frame-1-RvQ .into-peC .image-1-rqn {
  width: 85.6rem;
  height: 62.8rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0 3rem 14.4rem 0;
}
.frame-1-RvQ .into-peC .wind-power-1-bHa {
  width: 51.2rem;
  height: 51.2rem;
  position: absolute;
  left: 33.9rem;
  top: 6.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-RvQ .into-peC .rectangle-7-uZA {
  width: 91.8373rem;
  height: 50.5981rem;
  position: absolute;
  left: 0;
  top: 50.8rem;
  background-color: rgba(213, 142, 142, 0.2899999917);
  border-radius: 0 16rem 16rem 0;
}
.frame-1-RvQ .into-peC .rectangle-6-dVA {
  width: 92.2345rem;
  height: 52.3844rem;
  position: absolute;
  left: 0;
  top: 48.4078rem;
  background-color: #f58585;
  border-radius: 0 16rem 16rem 0;
}
.frame-1-RvQ .into-peC .rectangle-5-xXS {
  width: 91.6rem;
  height: 53.1878rem;
  position: absolute;
  left: 0;
  top: 45.5rem;
  background-color: #9485f5;
  border-radius: 0 16rem 16rem 0;
}
.frame-1-RvQ .into-peC .hi-im-rahula-studentpcb-designerelectrical-engineer-tfz {
  width: 62.9rem;
  height: 15.6rem;
  position: absolute;
  left: 4.6rem;
  top: 65.7249rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .into-peC .hi-im-rahula-studentpcb-designerelectrical-engineer-tfz .hi-im-rahula-studentpcb-designerelectrical-engineer-tfz-sub-0 {
}
.frame-1-RvQ .into-peC .hi-im-rahula-studentpcb-designerelectrical-engineer-tfz .hi-im-rahula-studentpcb-designerelectrical-engineer-tfz-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-RvQ .into-peC .ellipse-1-qzY {
  width: 25.2rem;
  height: 23.5rem;
  position: absolute;
  left: 49.9rem;
  top: 52.1249rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-1-RvQ .into-peC .profile-1-yax {
  width: 23.6rem;
  height: 23.6rem;
  position: absolute;
  left: 49.9rem;
  top: 52rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-RvQ .navbar-Wat {
  width: 83.3rem;
  height: 9.1rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
}
.frame-1-RvQ .navbar-Wat .rectangle-3-FYU {
  width: 83.3rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 2.2rem;
  filter: blur(0.75rem);
  background-color: rgba(125, 244, 230, 0.6999999881);
  border-radius: 1.5rem 1.5rem 0 0;
}
.frame-1-RvQ .navbar-Wat .rectangle-2-N7J {
  width: 83.3rem;
  height: 7.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e6a558;
  border-radius: 1.5rem 1.5rem 0 0;
}
.frame-1-RvQ .navbar-Wat .projects-JFr {
  width: 14.784rem;
  height: 2.7931rem;
  cursor: pointer;
  position: absolute;
  left: 51.489rem;
  top: 2.1624rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-RvQ .navbar-Wat .contacts-nB2 {
  width: 14.784rem;
  height: 2.7931rem;
  cursor: pointer;
  position: absolute;
  left: 67.4965rem;
  top: 2.1624rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-RvQ .navbar-Wat .skills-HtU {
  width: 11.0115rem;
  height: 2.7931rem;
  cursor: pointer;
  position: absolute;
  left: 35.9913rem;
  top: 2.1624rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-RvQ .navbar-Wat .about-beG {
  width: 11.0115rem;
  height: 2.7931rem;
  cursor: pointer;
  position: absolute;
  left: 20.4936rem;
  top: 2.1624rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-RvQ .navbar-Wat .home-65E {
  width: 11.0115rem;
  height: 2.7931rem;
  cursor: pointer;
  position: absolute;
  left: 4.996rem;
  top: 2.1624rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
